main {
background: url('../img/main-bg.png');
background-size: cover;
}

.main__title-container {
  display: flex;
  align-items: center;
	justify-content: center;
}

.main__title-text {
	font-family: Libertinus Serif;
	font-size: 75px;
	font-weight: 300;
}

.picture__filter-container ul {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	display: flex;
}

.picture__filter-container li {
	border: 3px solid #ECECEC;
  transition: transform .2s ease-in-out;
}

.picture__filter-container li:hover {
  transform: scale(1.1); 
}

.picture__color-element {
	position: relative;
	width: 95px;
	height: 70px;
}

.reset-color-svg {
  position: absolute;
  top: 1em;
  left: 1.5em;
}

.pictures__wrapper {
  display: flex;
  justify-content: center;
  padding: 110px; 
}

.pictures__container {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  gap: 20px;
}

 .picture {
  width: 450px; 
  height: 380px; 
	object-fit: cover;
}
